@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Public+Sans:ital,wght@0,100..900;1,100..900&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

h1 {
    color: red;
}

body {
    overflow-x: hidden;
    color: hsl(233, 26%, 24%);
    height: fit-content;
    font-size: 18px;
    font-family: 'Public Sans', sans-serif;
}

.container {
    display: flex;
    flex-direction: column;
    gap: 3rem;
}

.pfile_imgBg {
    background-image: url('./imgs/bg-2.avif');
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    padding: 2rem;
    position: relative;
}

.pfile_imgCont {
    position: inherit;
    top: 5.6rem;
    text-align: center;
}

.pfile_imgCont > img {
    object-fit: cover;
    border: 3px solid #d3d3d3;
    border-radius: 50%;
    width: 10rem;
    height: 10rem;
}

.section2 {
    padding: 1rem;
    text-align: center;
}

.Name_Title, .locMail {
    line-height: 2rem;
}

main {
    padding-top: 0.5rem;
}

main > p {
    line-height: 1.8rem;
}

main > ul > li, .socials > div > li {
    list-style: none;
}

main > ul > li > a, .socials > div > li > a {
    text-decoration: none;
    color: hsl(233, 26%, 24%);
}

.socials > div {
    display: flex;
    justify-content: center;
    gap: 2rem;
    padding: 0.5rem;
}

.socials > span {
    padding-top: 0.4rem;
    cursor: pointer;
}

.fa-brands {
    font-size: 2rem;
}

.stubBornEmail {
    text-decoration: none;
    color: hsl(233, 26%, 24%);
}

#utc-time {
    cursor: pointer;
}

@media (min-width: 600px) {
    .socials {
        display: flex;
        justify-content: center;
    }
    .socials > span {
        padding-top: 0.75rem;
        color: red;
    }
}

@media (min-width: 875px) {
    body {
        overflow-x: hidden;
    }
    .container {
        flex-direction: row;
        gap: 2.5rem;
        padding-top: 3rem;
        padding-left: 2rem;
        min-height: 100vh;
    }
    .pfile_imgBg {
        width: 50%;
        padding: 5rem;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .pfile_imgCont {
        top: 0rem;
    }
    .pfile_imgCont > img {
        width: 23rem;
        height: 23rem;
    }
    .section2 {
        align-items: flex-start;
        text-align: left;
        flex: 1;
    }
    .locMail {
        align-items: flex-start;
        padding-top: 1rem;
    }
    .socials {
        position: relative;
        justify-content: flex-start !important;
        display: flex;
        align-self: flex-start;
    }
}
